@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #64ccc5;
  font-family: "Inter", sans-serif;
}

.heading-text {
  color: #053b50;
}

.sub-text {
  color: #176b87;
}

.light-bg {
  background-color: #d6f8f5;
}
